* {
    font-family: 'Lato', sans-serif;
font-family: 'Roboto Slab', serif;
}

.header {
    display: flex;
    justify-content: space-evenly;
    background-color: #1F2937;
    color: #E5E7EB;
}

ul {
    list-style-type: none;
    display: flex;
    gap: 10px
}

.main-text {
    display: flex;
    background-color: #1F2937;
    flex-direction: column;
    padding-left: 15%;
    padding-right: 30px;
    color: #F9FAF8;
}


.main {
    background-color: #1F2937;
    display: flex;
    padding-right: 15%;
    padding-bottom: 40px;
}

.white {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    margin-top: 40px;
    flex-wrap: wrap;
    gap: 15px;
    margin-bottom: 100px;
}

img {
    width: 300px;
    max-height: 250px;
    min-height: 175px;
}

#title{
    margin-left: 40%;
}


.gray {
    background-color: #E5E7EB;
    font-size: 36px;
    font-style: italic;
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
}

.info,
img {
    max-width: 300px;
    max-height: 300px;
}

.quote {
    align-self: center;
}

.author {
margin-left: 60%;
}

.blue {
    background-color: #3882F6;
    font-size: 18px;
    color: #E5E7EB;
   margin: 75px;
    padding-left: 20px;
    padding-right: 20px;
}

.left {
    display: flex;
    justify-content: center;
    
}

.right {
    display: flex;
    justify-content: flex-end;
    align-self: center;
    margin-left: 100px;
    border: 1px solid white;
    border-radius: 10px;
}


.bold {
    font-weight: bold;
}

button {
    width: 85px;
    height: 35px;
    background-color: #3882F6;
    color:white;
    border-radius: 10px;
    border: none;
}





